<mat-card>
    <h3 class="mat-h3" *ngIf="activePlayers">Players waiting: {{activePlayers.length}}</h3>
    <h3 class="mat-h3" *ngIf="!activePlayers">Loading active players...</h3>

    <mat-list *ngIf="activePlayers && activePlayers.length > 0">
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let player of activePlayers">
            <mat-icon class="row-icon">account_circle</mat-icon>
            {{player.name}}
        </mat-list-item>
    </mat-list>
</mat-card>

<mat-card>
    <div *ngIf="!userID">
        <h4 class="mat-h4">Get in Queue</h4>
        <mat-form-field class="name-field">
            <input matInput type="text" placeholder="Your Name" value="" #nameInput (keyup)="onNameInput(nameInput.value)">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onGetInQueueClick()">Queue</button>
    </div>
    <div *ngIf="userID">
        <h4 class="mat-h4">Waiting for {{waitTime}} minutes...</h4>
        <button mat-raised-button color="accent" (click)=onLeaveQueueClick()>Leave Queue</button>
    </div>
</mat-card>
